<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <form #UsuarioForms="ngForm" (ngSubmit)="validarUsuarios(UsuarioForms)">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" placeholder="Ingresa tu usuario" name="usuario" #usuario="ngModel" [(ngModel)]="ServiciosService.selectedUsuarios.usuario" [ngClass]="{'invalid-textbox' :validarUsuarios.submitted && !name.valid}"> 
              </div>
              <div class="input-field col s12"> 
                <input type="password" placeholder="Ingresa tu clave" name="contrasena" #contrasena="ngModel" [(ngModel)]="ServiciosService.selectedUsuarios.contrasena">
              </div>
              <div class="card-action">
                <div class="imput-field col s12">
                  <button class="btn">Ingresar</button>
                  <button class="btn right"  (click)="resetForm(UsuarioForms)">Limpiar</button>
                </div>
              </div>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>
</div>
